@import "~@flaticon/flaticon-uicons/css/all/all";

@font-face {
    font-family: 'Boska';
    src: url('/fonts/Boska-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boska';
    src: url('/fonts/Boska-VariableItalic.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('/fonts/GeneralSans-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('/fonts/GeneralSans-VariableItalic.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

html, body { overflow-x: hidden; }
* { box-sizing: border-box; }
img, video { max-width: 100%; height: auto; }

:root {
    /* Colors */
    --primary-tan: #dbbda8;
    --primary-rose: #F7C6C6;
    --primary-clay: #B09578;
    --primary-blush: #f5e2d7;

    --secondary-mocha: #8a6b5b;
    --secondary-mauve: #b881b1;
    --secondary-offwhite: #f7f1ed;
    --secondary-charcoal: #343333;

    --ecru: #fffdfd;

    --red: #D97C7C;
    --red-hover: #c56a6a;

    --blue: #7A9CA2;
    --blue-hover: #6b8c91;

    --green: #9BAF88;
    --green-hover: #889c76;

    --yellow: #E6D1A3;
    --yellow-hover: #d4be91;

    --purple: #A08BA5;
    --purple-hover: #917996;

    --hover-rose: #E6AFAF;
    --gray: #6B7280;
    /* Typography */
    --font-display: 'Boska', serif;
    --font-body: 'General Sans', sans-serif;

    /* Spacing (example) */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 40px;

    --container-pad-x: 1rem;
    --container-pad-y: 1.5rem;

}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-body), serif;
    color: var(--secondary-charcoal);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    font-family: var(--font-display), serif;
}


main {
    min-height: 30vh;
}

button {
    border: none;
    font-family: var(--font-body), serif;
    font-size: 1rem;
    padding: .5rem;
}
