.title {
    font-size: 3em;
    font-weight: 500;
    color: var(--primary-blush);
}

.subtitle {
    font-size: 2em;
    font-weight: 300;
    line-height: 2.2rem;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 2rem;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
    }


}