.iconCardContainer {
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 1.5rem;
    background-color: var(--primary-tan);
}
.iconContainer {
    width: max-content;
    padding: 1rem;
    border-radius: 100%;
    background-color:var(--primary-blush);
}

.iconCardContainer:nth-child(odd) {
    background-color: var(--primary-blush);
}

.iconContainer:nth-child(odd) {
    background-color: var(--secondary-offwhite);
}
.icon {
    width: 3rem;
    height: auto;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-body {
    font-size: 1rem;
    font-weight: 300;
}