.blogCardContainer {
    display: flex;
    flex-direction: column;
    width: 24em;
    height: 32em;
    background-color: white;
    overflow: hidden;
}

/* Image tag fallback if used */
.blogCardContainer img {
    width: 100%;
}

/* Background image block */
.cardImgBg {
    width: 100%;
    height: 14em;
    background-size: cover;
    background-position: center;
}

/* Modifier for featured card image */
.cardImgBgFeatured {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

/* Featured layout variant */
.featuredCard {
    height: 30em;
    width: 49em;
    gap: 2rem;
}

/* Featured text styles */
.featuredCard h3 {
    font-size: 2rem;
    margin: 0;
}

.featuredCard p {
    font-size: 1rem;
}

.blogCardContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5em 1em;
}
.blogCardText {

}

.blogMetadata {
    display: flex;
    gap: 5px;
    align-items: center;
}

.taxonomy {
    background-color: var(--primary-blush);
    color: var(--secondary-mocha);
    padding: 3px;
    border-radius: 3px;
}

.date {
    color: var(--gray);
    font-weight: lighter;
}

.title {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--secondary-mocha);
}