.adminPageTitle {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--secondary-mocha);
    line-height: 3px;
}

.pageTitle {
    font-size: 3.5em;
    font-weight: bold;
    color: var(--primary-blush);
}

.pageTagline {
    font-size: 2em;
    font-weight: normal;
    color: var(--primary-rose);
    font-style: italic;
}

@media (max-width: 768px) {
    .pageTitle {
        font-size: 2.3em;
    }

    .pageTagline {
        font-size: 1.5em;
    }
}