.adminPageTitle {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--secondary-mocha)
}

.pageTitle {
    font-size: 3.5em;
    font-weight: bold;
    color: var(--primary-blush);
}

.pageTagline {
    font-size: 2em;
    font-weight: normal;
    color: var(--primary-rose);
    font-style: italic;
}

.pageTitle2 {
    font-size: 2em;
    color: var(--secondary-mocha)
}

.pageSubtitle {
    font-size: 1.4em;
    color: var(--primary-clay);
    font-family: var(--font-body), sans-serif;
    font-weight: lighter;
}